mlflow==2.13.2
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
joblib==1.4.2
azureml-sdk==1.57.0
azureml-core==1.57.0
azureml-pipeline==1.57.0
azureml-pipeline-steps==1.57.0
azure-ai-ml==1.16.0
azure-identity==1.16.0
scipy==1.13.0
